body{   
    margin: 0;
    padding: 0;
    background-color: black; 
    color:white;
 background-image: url(NUAGE.jpeg) ;
    background-size:cover;
}
header{
    position: fixed;
    top:0;
     background-color: black;
     border-radius:10%;
     margin-left: 5%;
     font-size: 15Px;
     width:100%;
     height:35%;
}
header input{
    border: 5px solid white;
    border-width: 20px;
    border-radius:15%;
    margin-left:1%;
    margin-bottom:1000%;
}
header img{
    width: 100px;
    height: 100px;
    border-radius:100%;
    margin-left:85%;
}
main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    margin-top: 20%;
     margin-left: 4%;
}
img{
    width:250PX;
    height: 200px;
    border-radius :15px;
}
   
button{
    border: solid 1px;
    border-radius: 15%            ;
}
main div{
border: solid 2px;
width: 250px;
border-radius:5%
}
