body{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: size 13Px;
    color: white;
}
.wave img{
    width: 100px;
 border-radius:80%;   
}
fieldset{
    background-image: url(NUAGE.jpeg);
    border-radius:3%;
    width:700px;
    margin-top:5%;
    margin-left:30%;
}
.retour img{
    width: 100px;
    height: 100px;
    border-radius:100%;
    margin-left: 90%;
}
.button{
    border-radius: 15%;
}
input{
    border-radius:15%;
}
select{
    border-radius:15%;
}